<div class="container">
  <h1>Jogo de Tabuleiro</h1>
  <p>Fase: {{ fase }}</p>
  <p>Jogador Atual: {{ jogadorAtual }}</p>
  <div class="tabuleiro">
    <div *ngFor="let linha of [0,1,2,3,4]" class="linha">
      <div *ngFor="let coluna of [0,1,2,3,4]" 
           class="casa" 
           [ngClass]="{'centro': linha === 2 && coluna === 2, 'branco': tabuleiro[linha][coluna] === 'B', 'preto': tabuleiro[linha][coluna] === 'P'}"
           (click)="clicarCasa(linha, coluna)">
        {{ tabuleiro[linha][coluna] }}
      </div>
    </div>
  </div>
  <button (click)="desistir()">Desistir</button>
  <div class="chat">
    <h2>Chat</h2>
    <div class="mensagens">
      <p *ngFor="let msg of mensagens">{{ msg }}</p>
    </div>
    <input [(ngModel)]="mensagem" (keyup.enter)="enviarMensagem()" placeholder="Digite uma mensagem">
  </div>
  <p>{{ mensagemFim }}</p>
</div>